<!DOCTYPE html>

<html lang="en">

    <%- include(`partials/head`); %>

    <body class="content">

        <%- include(`partials/header`); %>


        <section class="admin-margin">
            <div class="centered-container">
                <h1 class="font-secondary main-color">
                    <span class="main-color-emphasized">Item</span>
                    Managment</h1>
                <div class="separator"></div>
            </div>

            <div class="centered-container">
                <span class="photo-box-title font-secondary main-color">
                    Chose an action
                </span>
            </div>

            <div class="admin-menu">
                <a class="link" href="admin/additem">
                    <button class="btn">
                        Add item
                    </button>
                </a>

                <a class="link" href="admin/updateitem">
                    <button class="btn">
                        Update item
                    </button>
                </a>

                <a class="link" href="admin/deleteitem">
                    <button class="btn">
                        Remove item
                    </button>
                </a>
            </div>


            <div class="centered-container">
                <h1 class="font-secondary main-color">
                    <span class="main-color-emphasized">Category</span>
                    Managment</h1>
                <div class="separator"></div>
            </div>

            <div class="centered-container">
                <span class="photo-box-title font-secondary main-color">
                    Chose an action
                </span>
            </div>

            <div class="admin-menu">
                <a href="">
                    <button class="btn">
                        Add category
                    </button>
                </a>

                <a href="">
                    <button class="btn">
                        Update category
                    </button>
                </a>

                <a href="">
                    <button class="btn">
                        Remove category
                    </button>
                </a>
            </div>


        </section>




        <%- include(`partials/footer`); %>

    </body>

</html>